
        /* Outer container for y-axis, canvas, and x-axis */
        .axis-canvas-container {
            display: flex;
            font-size: 22px;
            display: flex;
            flex-direction: row;
            /* Arrange y-axis and row-container horizontally */
            align-items: center;
            justify-content: center;
            color: white;
            gap: 10px;/* Space between y-axis and canvas */
            width: 100%;
            height: 100%;
        }

        /* Row container for canvas and x-axis */
        .x-axis-column-container {
            display: flex;
            flex-direction: column;
            /* Arrange canvas and x-axis vertically */
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            gap: 10px;
            /* Space between canvas and x-axis */
        }


          /* Make all axis text bigger and cleaner */
        /*  .axis path,
          .axis line {
              stroke: white;
              stroke-width: 2;
              shape-rendering: crispEdges;
             }
  
          .axis text {
              font-size: 22px; /* Bigger font for tick labels */
         /*     fill: white;
              font-family: "DejaVu Sans";
          }
         */
          /* Optionally style your lightcurve line too */
          .line {
              fill: none;
              stroke-linejoin: round;
              stroke-linecap: round;
          }